<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CisApp</title>
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
  
    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"> -->

	  <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

  
    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  
    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
</head>
<body>
    <section class="home" id="title">

      <div class="container-fluid">
  
        <!-- Nav Bar -->
  
        <nav class="navbar navbar-expand-lg">
  
          <a class="navbar-brand" href="">CiS</a>
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
              <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
  
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#users">For users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#customers">For customers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#investors">For investors</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#0">More</a>
              </li>
            </ul>
  
          </div>
        </nav>
        <hr>
  
        <!-- Home -->
  
        <div class="row bhome">
  
          <div class="col-lg-6">
            <h1 class="big-heading">CiSApp</h1>
            <p class="trans">Transforming the</p>
            <p class="trans">world of social media</p>
            <p class="regis">Register for alpha access of our app by using the</p>
            <p class="regis">access code</p>
            <button type="button" class="btn btn-blue-dark btn-lg download-button">Get access code</button>
            <button type="button" class="btn btn-light btn-outline-dark btn-lg download-button">Know more</button>
          </div>
  
          <div class="col-lg-6">
            <img class="ti1" src="/images/images/phone-1-1.svg" alt="l-phone">
            <img class="ti3" src="/images/images/phone-1-3.svg" alt="r-phone">
            <img class="ti2" src="/images/images/phone-1-2.svg" alt="mid-phone">
          </div>
  
        </div>
  
      </div>
  
    </section>
  
  
    <!-- For Users -->
  
    <section class="user" id="users">
      <h2 class="section-heading">For Users</h2>
      <div class="row">
        <div class="column">
          <img class="ci-1" src="/images/images/phone-1-1.svg" alt="l-phone" style="width:60%">
          <div class="caption">
            <p>Publish inspiring articles</p>
          </div>
        </div>
        <div class="column">
          <img class="ci-1" src="/images/images/phone-1-2.svg" alt="mid-phone" style="width:60%">
          <div class="caption">
            <p>Create multiple account spaces</p>
          </div>
        </div>
        <div class="column">
          <img class="ci-1" src="/images/images/phone-1-3.svg" alt="r-phone" style="width:60%">
          <div class="caption">
            <p>Choose corners in feed</p>
          </div>
        </div>
      </div>
      <!-- <div class="c1">
        <div class="col-lg-6">
          <img class="title-image" src="/images/images/phone-2-2.svg" alt="phone">
          <img class="title-image" src="/images/images/phone-2-2.svg" alt="phone">
          <img class="title-image" src="/images/images/phone-2-2.svg" alt="phone">
        </div>
      </div> -->
      <!-- <div class="c2">
        <div class="col-lg-6">
          <img class="title-image" src="/images/images/phone-2-2.svg" alt="phone">
        </div>
      </div>
      <div class="c3">
        <div class="col-lg-6">
          <img class="title-image" src="/images/images/phone-2-2.svg" alt="phone">
        </div>
      </div> -->
    </section> 
    
     <!-- For Creators -->
  
     <section class="Creator" id="Creators">
      <h2 class="section-heading">For Creators</h2>
      <div class="row">
        <div class="column">
          <img class="ci-1" src="/images/images/phone-2-1.svg" alt="Snow" style="width:60%">
          <div class="caption">
            <p>Create using AR/VR effects.</p>
          </div>
        </div>
        <div class="column">
          <img class="ci-1" src="/images/images/phone-2-2.svg" alt="Forest" style="width:60%">
          <div class="caption">
            <p>Make creator account</p>
          </div>
        </div>
        <div class="column">
          <img class="ci-1" src="/images/images/phone-2-3.svg" alt="Mountains" style="width:60%">
          <div class="caption">
            <p>Chat using Private Chat</p>
          </div>
        </div>
      </div>
      <!-- <div class="c1">
        <div class="col-lg-6">
          <img class="title-image" src="/images/images/phone-2-2.svg" alt="phone">
          <img class="title-image" src="/images/images/phone-2-2.svg" alt="phone">
          <img class="title-image" src="/images/images/phone-2-2.svg" alt="phone">
        </div>
      </div> -->
      <!-- <div class="c2">
        <div class="col-lg-6">
          <img class="title-image" src="/images/images/phone-2-2.svg" alt="phone">
        </div>
      </div>
      <div class="c3">
        <div class="col-lg-6">
          <img class="title-image" src="/images/images/phone-2-2.svg" alt="phone">
        </div>
      </div> -->
    </section> 
    
    <!-- investors -->
    <section class="investors" id="investor">
      <h2 class="section-heading">For Investors</h2>
      <div class="irow">
        <div class="icolumn">
          <img class="i-h-1" src="/images/images/earth.jpg" alt="i-1" style="width:100%">
        </div>
        <div class="icolumn">
          <img class="i-h-2" src="/images/images/block.jpg" alt="i-2" style="width:100%">
        </div>
        <div class="icolumn">
          <img class="i-v-1" src="/images/images/fiber.jpg" alt="i-3" style="width:100%">
        </div>
        <div class="iwcolumn">
          <div class="iw">
            <h2>How</h2>            
          </div>
        </div>        
      </div>
      
    </section>

    <!--Footer-->

    <section class="footer" id="foote">
      <nav class="navbar navbar-expand-lg">
  
        <a class="navbar-brand" href="">CiS</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#investors">Register for alpha access.</a>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-blue btn-lg download-button">Get access code</button>
            </li>
          </ul>

        </div>
      </nav>
      <hr style="height:2px;border-width:0;color:gray;background-color:gray">
      <div class="navbar">
        <div class="footer-1">
          <h2>Subscribe to our latest updates</h2>
          <button type="button">Email address</button>
        <p class="footer-links">
          <a href="#">Terms and Conditions</a>
          <a href="#">Privacy Policy</a>
        </p>
      </div>
      <div class="footer-2">
        <h3>CiSApp</h3>
        <a class="nav-link" href="#users">For users</a>
        <a class="nav-link" href="#customers">For customers</a>
        <a class="nav-link" href="#investors">For investors</a>
       </div>
       <div class="footer-3">
        <h3>More</h3>
        <a class="nav-link" href="#users">Blogs</a>
        <a class="nav-link" href="#customers">About us</a>
        <a class="nav-link" href="#investors">Team</a>
        <a class="nav-link" href="#investors">Careers</a>
       </div>
       <div class="footer-4">
        <h3>Help</h3>
        <a class="nav-link" href="#customers">FAQs</a>
        <a class="nav-link" href="#investors">Contact us</a>
        <div class="footer-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
       </div>
      </div>
      
    </section>
</body>
</html>